body{
    background-color: #766985;
    color:rgb(104, 77, 126);
    max-width:1200px;
    margin: 0 auto;
    width: 5000px;
    
}
header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
#title{
  flex-direction: column;  
  line-height: 12px;
}
li{
    display: inline-block;
    margin: 15px;
    position:unset;
    width: 130px;
    font-family: "Comic Relief", system-ui;
    color:#f8f6fc
}
a{
    color:rgb(104, 77, 126);
}
a:hover{
  color:rgb(141, 4, 253);
  transition: 0.3s all;
}
#entrar{
   border: 1px solid rgb(215, 198, 230);
   padding: 8px;
   border-radius:10px;
   background-color: #9388AD;
   color:#FFFFFF
}
#entrar:hover{
    background-color:rgb(104, 77, 126);
}
#login{
   border: 1px solid rgb(215, 198, 230);
   padding: 8px;
   border-radius:10px;
   background-color: #9388AD;
   color:#FFFFFF
}
#login:hover{
    background-color:rgb(104, 77, 126);
}
#serviços{
   border: 1px solid rgb(215, 198, 230);
   padding: 8px;
   border-radius:10px;
   background-color: #9388AD;
   color:#FFFFFF
}
#serviços:hover{
    background-color:rgb(104, 77, 126);
}


h1{
    font-weight:400px;
    font-family:  "Comic Relief", system-ui;
    color:rgba(208, 212, 205, 0.664);
}
main{
 display: flex;
 flex-direction:inherit;
 margin-top: 60px;
}

h2{
    font-size: 30px;
    line-height: 10px;
    font-family: "Comic Relief", system-ui;
    color:#423b5c;
}

.paragrafos{
    color:#dfd8d8ad;
 font-family: "Comic Relief", system-ui;
font-size: 19px;
}

.title{
    max-width: 100%;
}
h3{
        font-size: 30px;
        line-height: 10px;
        clear: right;
        font-family: "Comic Relief", system-ui;
         color:#423b5c;
}

h4{
    font-size: 30px;
    line-height: 10px;
    font-family: "Comic Relief", system-ui;
     color:#423b5c;
}

h5{
    font-size: 30px;
    line-height: 10px;
       color:#423b5c;
}
