body {
    color: rgb(104, 77, 126);
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 1.2;
    color: #726397;
}

li {
    display: inline-block;
    margin: 15px;
    list-style: none;
}

a {
    color: rgba(54, 35, 71, 0.733);
    text-decoration: none;
    padding: 10px 20px;
}

a:hover {
    color: rgb(99, 66, 131);
    transition: 0.3s all;
}

#entrar,
#profissao {
    border: 1px solid rgb(215, 198, 230);
    padding: 8px 16px;
    border-radius: 10px;
    background-color: #9388AD;
    color: #FFFFFF;
    cursor: pointer;
}

#entrar:hover,
#profissao:hover {
    background-color: rgb(104, 77, 126);
}

h1 {
    font-weight: 400;
    color: #726397;
}

h2, h3, h4, h5 {
    font-size: 30px;
    line-height: 1.4;
    font-weight: 500;
    color: #726397;
}

.paragrafos {
    color: #bcb9c9;
    font-size: 20px;
    max-width: 600px;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    gap: 40px;
}

.imglogo img {
    max-width: 100%;
    height: auto;
}

.title {
    max-width: 100%;
}
