@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Comic+Relief:wght@400;700&family=DM+Serif+Display:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.background-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right bottom, #968eae, #d5c8e6);
  clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 60vh);
  z-index: -1;
}

#logo-fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: auto;
  z-index: 1;
}

#title {
  position: relative;
}

.container {
  width: 100%;
  max-width: 385px;
  background-color: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  color: black;
  padding: 30px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(100px);
}

.container h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  color: #212121;
}

.input-box {
  width: 100%;
  margin: 16px 0;
  color: #212121;
}

.input-box fieldset {
  border: 1px solid #dadce0;
  border-radius: 8px;
  padding: 10px 12px 12px 12px;
  margin: 0;
  position: relative;
}

.input-box legend {
  font-size: 12px;
  color: #5f6368;
  padding: 0 4px;
  margin-left: 4px;
}

.input-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  color: #202124;
  background-color: transparent;
  display: block;
  line-height: 1.5;
}

.input-box input::placeholder {
  color: grey;
}

h1 {
  font-size: 35px;
  color: black;
}

.new {
  width: 100%;
  padding: 10px 0;
  background-color: #968eae;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  margin-top: 15px;
}

.new:hover {
  background-color: #a79fbe;
  transition: 0.2s;
}

p {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
  color: #594f70;
}

.paragrafo1 {
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 300;
  color: #594f70;
}
